{{define "body"}}
<label for='input'>"html/template" Input</label><br>
<textarea id="input" name='input'>Hello, world!</textarea>

<p id='error'></p>

<iframe id='output' width='300' height='600'></iframe>
{{end}}