<!doctype html>
<html class="no-js" lang="us-en">
<head>
    <meta charset="utf-8">
    <title>Playground</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script type="module">
        import '/assets/wasm_exec.js'
        const go = new Go();
        WebAssembly.instantiateStreaming(fetch("/assets/main.wasm"), go.importObject).then((result) => {
            go.run(result.instance);
        });
        go.exit
    </script>
</head>

<body>
    <label for="code"></label>
    <textarea id="code">package main

func main() { println("BLA") }
    </textarea>
    <button id="run">Run</button>
    <div id="logs">
        <pre id="stdout"></pre>
        <pre id="stderr"></pre>
    </div>

    <ul id="errors">
    </ul>

    <details id="go-version">
        <summary>go version</summary>
        <pre>loading...</pre>
    </details>
    <details id="go-env">
        <summary>go env</summary>
        <pre>loading...</pre>
    </details>
</body>
</html>