<!doctype html>
<html class="no-js" lang="us-en">
<head>
  <title>Playground</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script type="module">
      import '/assets/wasm_exec.js'

      const go = new Go();
      WebAssembly.instantiateStreaming(fetch("/assets/main.wasm"), go.importObject).then((result) => {
          go.run(result.instance);
      });
  </script>
  <style>
      body, html {
          margin: 0;
          padding: 0;
      }

      #editor {
          padding: 1rem;
      }

      #editor textarea#code {
          border: .05rem solid dimgrey;
          box-shadow: none;
          width: calc(100% - 2 * .05rem);
          display: block;
          box-sizing: border-box;
          resize: vertical;
          min-height: 10rem;

          font-family: monospace;
      }

      .run {
          padding: 1rem;
      }

      .run iframe.run {
          border: .05rem solid dimgrey;
          box-shadow: none;
          padding: 0;
          width: calc(100vw - 2 * 1rem - 2 * .1rem);
          display: block;
          box-sizing: border-box;
      }
  </style>
</head>

<body>
<div hidden>
  {{define "run"}}
    <div class="run">
      <button class="close">X</button>
      <iframe class="run" src="/run" title="Run"></iframe>
    </div>
  {{end}}

  {{define "exit-status"}}
    <div class="exit-status">
      <pre>exit code {{.ExitCode}} after {{.Duration.String}}</pre>
    </div>
  {{end}}

  {{define "example-selector"}}
    <label>
      Select Example
      <select>
        {{range .}}<option value="{{.}}">{{.}}</option>{{end}}
      </select>
    </label>
  {{end}}
</div>

<div id="editor">
  <div id="example-selector" hidden></div>
  <label for="code"></label>
  <textarea
          id="code"
          spellcheck="false"
          autofocus
          autocomplete="off"
          autocapitalize="off"
          wrap="off"
  ></textarea>
  <button id="run">Run</button>
  <div id="logs">
    <pre id="stdout"></pre>
    <pre id="stderr"></pre>
  </div>

  <ul id="errors">
  </ul>

  <details id="go-version">
    <summary>go version</summary>
    <pre>loading...</pre>
  </details>
  <details id="go-env">
    <summary>go env</summary>
    <pre>loading...</pre>
  </details>
</div>
</body>
</html>