<!doctype html>
<html lang="us-en">
<head>
  <title>Run</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script type="module">
      import '/assets/wasm_exec.js'

      async function run(binary) {
          const go = new Go();


          const exit = go.exit
          let exitCode;
          go.exit = function (code) {
              exitCode = code
              exit(code)
          }

          const process = await WebAssembly.instantiate(binary, go.importObject)

          const now = Date.now()
          await go.run(process.instance)

          const duration = Date.now() - now
          window.parent.postMessage({name: "exit", exitCode, duration})
      }

      function main() {
          if (!window.parent) {
              return
          }

          window.addEventListener("message", event => {
              if (event.origin !== window.location.origin) {
                  return
              }

              if (event.data.name === "binary") {
                  run(event.data['binary'])
              }
          }, false)
      }

      main()
  </script>
</head>

<body>
</body>
</html>